.bgNavbar {
    background-color: rgba(255, 184, 28, 1);
    padding-bottom: 0;
}

.containerLogoNavbar {
    padding: 0.3rem 2rem;
}

.saludoUsuario {
    font-size: 12px;
    padding-left: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.containerIconosNavbar {
    padding-right: 1.5rem;
}

.iconoHamburguesa {
    border: none;
    font-weight: 600;
    padding: 0.5rem;
}

.iconoCarrito {
    font-size: 30px;
    margin-bottom: 0.15rem;
    margin-left: 1rem;
    color: black;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbarDesplegado {
    background-color: white;
}

.containerLinksNavbar {
    padding: 1rem;
}

.dropdownProductos a {
    padding: 0;
    color: black !important;
}

.paginasDropdownProductos {
    margin: 1.3rem 0;
}

.show {
    border: none;
    padding: 0;
}

.linksRouter {
    text-decoration: none;
}