.botonNav {
    width: 9.5rem;
    height: 2.6rem;
    margin: 0.5rem 0 1rem 0;
    border: 3px solid #FFB81C;
    border-radius: 5px;
    font-weight: 600;
}

.textoBoton {
    text-align: center;
    padding-top: 0.35rem;
}

.botonAzul {
    background-color:rgba(0, 53, 148, 1);
    color: white;
}

.botonBlanco {
    background-color: white;
    color: #28527A;
}