footer {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    background-color: rgba(0, 53, 148, 1);
    padding: 1rem 1rem;
}

.containerFooter ul {
    padding-left: 0;
}

.containerFooter ul li {
    padding: 0.6rem 0;
}

.categoriasFooter {
    font-weight: 500;
    color: white;
    margin-top: 1rem;
}

.productosFooter a {
    color: white;
    padding: 1.5rem 0;
    margin-top: -1rem;
}

.pruebaAlan {
    background-color: rgba(0, 53, 148, 1);
}

.imgMediosPagoFooter, .iconoRedesFooter {
    margin-right: 1rem;
}

.logoMP, .logoPayPal, .logoCorreoArg {
    width: 6rem;
}

.logoPayPal {
    height: 2.87rem;
}

.iconoFacebookFooter {
    margin-bottom: 0.1rem;
}

.listaFooter {
    list-style: none;
}

.anchorFooter {
    color: white;
    opacity: 0.6;
    text-decoration: none;
    font-weight: 400;
}

.containerIconosFooter {
    border-bottom: solid 2px white;
    padding-bottom: 1rem;
}

.parrafoCopyrightFooter {
    color: white;
    margin-top: 1rem;
}

.parrafoCopyrightFooter a {
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.testAlan {
    margin-left: 2rem;
    list-style: none;
}

@media (min-width:768px) {
    .contenedorGeneralFooter {
        display: flex;
        justify-content: space-evenly;
        border-bottom: solid 2px white;
    }
    .containerPagosFooter {
        width: 100px;
    }
    .containerPagosFooter img {
        margin: 1rem 0;
    }
    .containerIconosFooter {
        border: none;
    }
    .parrafoCopyrightFooter {
        text-align: center;
    }
}