.tituloCarrito {
    color: rgba(0, 0, 0, 1);
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    font-weight: 400;
}

.imgCardCarrito {
    width: 5rem;
}

.nombreCamisetaCardCarrito {
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
}